<div id="[+mxcMonthInnerEventID+]" class="[+mxcMonthInnerEventClass+]">
    <div class='modalContent' id='tips[+mxcMonthInnerEventUID+]'>
        [+mxcMonthInnerEventDescription+]
    </div>
    <span class='[+mxcMonthInnerEventTitleClass+]'>
        [+mxcMonthInnerEventTitle+] [+mxcMonthInnerEventDuration+]
    </span>
    <span class='[+mxcMonthInnerEventDescriptionClass+]' id='ev[+mxcMonthInnerEventUID+]'>[+mxcMonthInnerEventTimestamp+]</span>
    
    
    [+mxcTVmxcSmallImage+]
    
    Ticket Price: [+mxcmxprice+]


</div>