    <div  id="[+mxcEventListItemId+]" class="[+mxcEventListItemClass+]">
        <div class="date">
            <div class="month"><p>[+mxcEventListItemMonth+]</p></div>
            <p style="[+mxcEventListItemMultiDayStyle+]">[+mxcEventListItemStartDateTime+][+mxcEventListItemDateTimeSeperator+][+mxcEventListItemEndDateTime+]</p>
        </div>
        <h6 style="font-size: 100%;">[+mxcEventListItemTitle+]</h6>
        <P>[+mxcEventListItemStateDateStamp+] - [+mxcEventListItemEndDateStamp+]<P>
    </div>