<div id="[+mxcMonthInnerEventID+]" class="[+mxcMonthInnerEventClass+]">
    <div class='modalContent' id='tips[+mxcMonthInnerEventUID+]'>
        [+mxcMonthInnerEventDescription+]
    </div>
    <span class='[+mxcMonthInnerEventTitleClass+] [+mxcMonthInnerEventCategoryInlineCss+]' style="[+mxcMonthInnerEventCategoryForegroundCss+][+mxcMonthInnerEventCategoryBackgroundCss+]">
       [+mxcMonthInnerEventTitle+] [+mxcMonthInnerEventDuration+]
    </span>
    <span class='[+mxcMonthInnerEventDescriptionClass+]' id='ev[+mxcMonthInnerEventUID+]'>[+mxcMonthInnerEventTimestamp+]</span>
</div>