    <tr>
        <td colspan="7">
            <table cellpadding="0" cellspacing="0" class="mxcCalMonth">
                <tr>
                    <td width="30%"><span id="mxcprevMonth"><a href="[+mxcMonthHeadingPrevious+]" id="mxcprevMonthAJAX" rel="[+mxcMonthHeadingPreviousRel+]">[+mxcMonthHeadingPreviousLabel+]</a></span></td>
                    <td width="40%"><span id="mxcLabelMonth">[+mxcMonthHeadingLabelMonth+]</span><span id="mxcLabelYear">[+mxcMonthHeadingLabelYear+]</span></td>
                    <td width="30%"><span id="mxcnextMonth"><a href="[+mxcMonthHeadingNext+]"  id="mxcnextMonth-AJAX" rel="[+mxcMonthHeadingNextRel+]">[+mxcMonthHeadingNextLabel+]</a></span></td>
                </tr>
            </table>
        </td>
    </tr>