[+mxcEventDetailBackToCal+]
<div id="[+mxcEventDetailId+]" class="[+mxcEventDetailClass+]">
    <h1>[+mxcEventDetailTitle+]</h2>
    <p>[+mxcEventDetailLabelDateTime+]</p>
    <p>[+mxcEventDetailStartDateTime+][+mxcEventDetailDateTimeSeperator+][+mxcEventDetailEndDateTime+]</p>
    <p class="repeat">[+mxcEventDetailDateTimeReoccurrences+]</p>
    <h2>[+mxcEventDetailLabelLocation+]</h2>
    <p>
        [+mxcEventDetailLocation+]
    </p>
    <p>[+mxcEventDetailDescription+]</p>
    
    
    <table>
        <tr valign=top>
            <td>Calendar Item Image: </td>
            <td>[+mxcmxeventimage+]</td>
        </tr>
        <tr valign=top>
            <td>Resource Title: </td>
            <td>[+mxcpagetitle+]</td>
        </tr>
        <tr valign=top>
            <td>Resource Content: </td>
            <td>[+mxccontent+]</td>
        </tr>
        <tr valign=top>
            <td>My TV for Large Image:</td>
            <td>[+mxcTVmxcLargeImage+]</td>
        </tr>
        <tr valign=top>
            <td>My TV for Small Image:</td>
            <td>[+mxcTVmxcSmallImage+]</td>
        </tr>
        <tr valign=top>
            <td>Calendar Item Date:</td>
            <td>[+mxcmxeventdate+]</td>
        </tr>
        <tr valign=top>
            <td>Calendar Item Price:</td>
            <td>[+mxcmxprice+]</td>
        </tr>
    </table>
        
    
    
    
    
    [+mxcEventDetailGoogleMap+]
</div>