[+mxcEventDetailBackToCal+]
<div id="[+mxcEventDetailId+]" class="[+mxcEventDetailClass+]">
    <h1>[+mxcEventDetailTitle+]</h2>
    <p>[+mxcEventDetailLabelDateTime+]</p>
    <p>[+mxcEventDetailStartDateTime+][+mxcEventDetailDateTimeSeperator+][+mxcEventDetailEndDateTime+]</p>
    <p class="repeat">[+mxcEventDetailDateTimeReoccurrences+]</p>
    <h2>[+mxcEventDetailLabelLocation+]</h2>
    <p>
        [+mxcEventDetailLocation+]
    </p>
    <p>[+mxcEventDetailDescription+]</p>
    [+mxcEventDetailGoogleMap+]
</div>